div.per-page {
    display: inline-block;
}

div.per-page > *{
    display: inline-block;
}

div.per-page .per-page-select {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 80px;
}

div.per-page .per-page-select input {
    text-align: center;
}

div.per-page .per-page-select ul,
div.per-page .per-page-select ul li {
    text-align: right;
}