/**
 * ColumnOrder control.
 */
.column-order .column {
    position: relative;
    border-radius: 12px;
    background-color: #ededed;
    padding: 4px;
}

.column-order .column.no-show span {
    color : #ababab;
}

.column-order .column:not(:first-child) {
    margin-top: 4px;
}

.column {
    position: relative;
}

.column button.move-up {
    margin-right: 4px;
}

.column button.move-down {
    margin-right: 8px;
}

.column .toggle {
    display: inline;
    position: absolute;
    right: 0;
}

/**
 * Page selection control.
 */

.page {
    display : inline-block;
}

.page-select {
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    max-width: 80px;
}

.page-select input {
    text-align: center;
}

.page-select ul, .page-select ul li {
    text-align: right;
}

/**
 * PerPage selection control.
 */
.per-page {
    display: inline-block;
}

.per-page > *{
    display: inline-block;
}

.per-page .per-page-select {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 80px;
}

.per-page .per-page-select input {
    text-align: center;
}

.per-page .per-page-select ul,
.per-page .per-page-select ul li {
    text-align: right;
}

/**
 * Labels
 */
.page-label {
    display: inline-block;
}

.per-page-label {
    display: inline-block;
}

/**
 * Both header and data cells.
 */
.rows-container .cell,
.sample .cell {
    vertical-align: bottom;
}

/**
 * Rows column headers.
 */
 .rows-container .columns,
 .sample .columns.cell {
    overflow: hidden !important;
    background-color: #f6f6f6;
    color: #424242;
    font-weight: bold;
}

.rows-container .columns .cell,
.sample .columns.cell {
    border: 1px solid #9c9c9c;
    border-collapse: collapse;
}

/**
 * Rows cells.
 */
 .rows-container .rows .cell {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
}

/**
 * Data grid loading overlay.
 */
 .rows-container .loading {
    height : 100%;
    background-color : #aaaaaa;
    opacity : .15;
    z-index : 1000;
}

/**
 * Grid.FeedProvider progress bars.
 */
.feed-provider .progress {
    position : absolute;
    left : 0;
    top : 0;
}

.feed-provider .scroll-progress.progress .determinate {
    background-color : #fff176  ;
    opacity : .77;
}
